.wrap-card{
    width: 60%;
    margin: auto;
    padding: 30px;
    margin-top: 40px;
    min-height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.block2{
    margin-top: 50px;
}
