.chk-wrap{
    padding: 20px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    
   
}

.checkitm{
    padding: 0px;
    outline: none;
    display: inline;
    width: auto;
    box-shadow: none;
    margin-top:10px;
position: relative;
top:10px;
    border: 1px solid black;
}

.op::-webkit-scrollbar{
    display: none;
}