.wrap-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    overflow: scroll;
    padding: 40px;

}

.wrap-flex::-webkit-scrollbar {
    background-color: transparent;
}

.wrap-item-fix {
    min-width: 300px;
    cursor: pointer;
    padding: 10px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: rgba(0, 255, 255, 0.247);
}

.list-btn {
    background-color: rgba(0, 255, 255, 0.247);
    color: black;
    padding: 7px;
    border-radius: 5px;
    margin-left: 10px;

}