.wrap-item{
    background-color: rgb(241, 241, 247);
    min-width: 300px;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    font-weight:600;
}
.card-add-strip{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    color: grey;
    font-weight: 500;
    width: 100%;
    font-size: 0.9rem;
}

.card-wrap{
  margin: 10px 0px;
  width: 100%;
}

.add-card{
    min-width: 300px;
}

.card-btn{
    background-color: rgb(20 103 231 / 98%);
    color: white;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    margin-top: 20px;
    

}