.wrap-flex{
    display: flex;
    flex-flow: row wrap;
    gap:30px;
    padding:40px;
}
.wrap-item-fix{
    min-width: 300px;
    padding: 10px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.247);
}

.list-btn{
    background-color: rgb(25, 48, 197);
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin-left: 10px;

}