*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
  user-select: none;
}

body{
  background:linear-gradient(rgb(211, 234, 248),rgb(255, 255, 255)) no-repeat;
  min-height: 100vh;
}